<div class="container">
  <div class="row">
    <div class="col-md-12">
      <flex-slideshow class="flexslider">
        <ul class="slides news-slideshow">
          <li style="background-image: url('images/slide1.jpg')">
            <p class="flex-caption">Nu finns vi även på olika sociala medier!</p>
          </li>
          <li style="background-image: url('images/slide2.jpg')">
            <p class="flex-caption"><a href="#">Här</a> kan ni se vår rapport från förra året!</p>
          </li>
          <li style="background-image: url('images/slide3.jpg')">
            <p class="flex-caption">Ett nytt kontor! Ni kan nu hitta oss på Skogsgatan 45, 545 54 Planebo!</p>
          </li>
        </ul>
      </flex-slideshow>
    </div>
  </div>
  <div class="row">
    <main class="col-xs-9">

      <h3 class="text-underline">Senaste nytt</h3>
      <article class="news-article">
        <h4><span class="fa fa-bookmark"></span> Vi flyger nu till Ukraina! <small><i>Skapad: Sept 29, 2016  av <a href="#">Krister</a></i></small></h4>
        <p>Enligt våra regelbundna kundundersökningar så längtar flygfolket allra mest till att kunna flyga till Ukraina oc...</p>
      </article>
      <hr>
      <article class="news-article">
        <h4><span class="fa fa-bookmark"></span> Säg välkommen till vår nya pilot, Johan! <small><i>Skapad: Sept 12, 2016 av <a href="#">Alexander</a></i></small></h4>
        <p>Senaste året har varit fullt upp med kunder och nu har vi äntligen anställt en tredje medarbetare, Johan "Junioren" Karlsson...</p>
      </article>
      <hr>
    </main>
    <aside class="col-xs-3">
      <h3>Arkiv</h3>
      <ul>
        <li><a href="#">2016</a></li>
        <li><a href="#">2015</a></li>
      </ul>
    </aside>
  </div>
</div>
