@import url('plugins.css');

body{
  background-color: rgb(130, 130, 130);
  font-family: Ubuntu, sans-serif;
}

/* Header */

#main-header {
  padding-top: 20px;
  background-color: #02A5DF;
}
#header-logo {
  color: white;
  font-size: 3em;
  margin-top: 0px;
}
#header-nav {
  color: white;
  font-size: 1.5em;
  margin-top: 15px;
}
#header-nav > ul > li > a{
  color: white;
}

/* Main */

main {
  padding-top: 20px;
  min-height: 500px;
  background-color: white;
}

/* Footer */

#main-footer {
  color: white;
  padding-top: 50px;
}
#main-footer a {
  color: white;
}

/* From TrackWork */

.info-header{
  margin-top: 0;
  color: rgb(100, 100, 100);
  text-transform: uppercase;
  font-weight: bold;
}

.news-slideshow > li{
  background-size: cover;
  background-position: center;
  min-height: 300px;
  width: 100%;
}

.news-article > p{
  padding-left: 18px;
}
