<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Vårt företag</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <p>
        Det lilla flygresebolaget Far och Flyg grundades av Alexander Far och Krister Flyg under 1700-talets början. Sedan dess har företaget växt med flygande fart. Idag erbjuder företaget resor i hela världen.
      </p>
    </div>
    <div class="col-md-4">
      <img class="img img-responsive img-rounded" src="./images/slide1.jpg" alt="Far &amp; Flyg">
    </div>
  </div>
</div>
